absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
audioop-lts==0.2.2
av==16.1.0
babel==2.17.0
bcrypt==5.0.0
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
cachetools==6.2.2
catalogue==2.0.10
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cloudpathlib==0.22.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
comtypes==1.4.13
confection==0.1.5
contourpy==1.3.3
cryptography==46.0.4
ctranslate2==4.7.1
cycler==0.12.1
cymem==2.0.11
dash==4.0.0
datasets==4.5.0
debugpy==1.8.17
decorator==4.4.2
deepface==0.0.89
defusedxml==0.7.1
dill==0.4.0
distro==1.9.0
dnspython==2.8.0
email-validator==2.3.0
executing==2.2.1
facenet-pytorch==2.5.3
fastapi==0.128.0
faster-whisper==1.2.1
fastjsonschema==2.21.2
fer==25.10.3
ffmpeg-python==0.2.0
filelock==3.20.3
fire==0.7.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==25.9.23
fonttools==4.60.0
fqdn==1.5.1
fr_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.8.0/fr_core_news_lg-3.8.0-py3-none-any.whl#sha256=da5bf7fc860af64293d88638b4416b3de3a29005b785bfff67d09b06c77345de
fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0-py3-none-any.whl#sha256=7d6ad14cd5078e53147bfbf70fb9d433c6a3865b695fda2657140bbc59a27e29
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
gast==0.7.0
gdown==5.2.1
gitdb==4.0.12
GitPython==3.1.45
google-crc32c==1.8.0
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.76.0
gunicorn==25.0.1
h11==0.16.0
h5py==3.15.1
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.3.2
humanfriendly==10.0
idna==3.10
ifaddr==0.2.0
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kagglehub==0.4.3
kagglesdk==0.1.15
keras==3.13.2
kiwisolver==1.4.9
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
lark==1.2.2
libclang==18.1.1
lightdsa==0.0.3
lightecc==0.0.4
lightphe==0.0.20
lingua-language-detector==2.1.1
lxml==6.0.2
lz4==4.4.5
marisa-trie==1.3.1
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.32
mistune==3.1.4
ml_dtypes==0.5.4
moviepy==1.0.3
mpmath==1.3.0
mtcnn==1.0.0
multidict==6.7.0
multiprocess==0.70.18
murmurhash==1.0.13
namex==0.1.0
narwhals==2.12.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.1
notebook==7.4.5
notebook_shim==0.2.4
numpy==2.2.6
onnxruntime==1.23.2
openai==2.16.0
opencv-contrib-python==4.13.0.92
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.18.0
packaging==25.0
pandas==2.3.2
pandocfilters==1.5.1
parso==0.8.5
pillow==11.3.0
platformdirs==4.4.0
plotly==6.5.2
preshed==3.0.10
proglog==0.1.12
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.1
psutil==7.1.0
pure_eval==0.2.3
pyarrow==21.0.0
PyAudio==0.2.14
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pydeck==0.9.1
pyee==13.0.0
Pygments==2.19.2
pylibsrtp==1.0.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
pypiwin32==223
pyreadline3==3.5.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-pptx==1.0.2
pyttsx3==2.99
pytz==2025.2
pywin32==311
pywinpty==3.0.0
PyYAML==6.0.2
pyzmq==27.1.0
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
retina-face==0.0.17
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.27.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
secure-smtplib==0.1.1
Send2Trash==1.8.3
sentence-transformers==5.2.1
setuptools==80.9.0
shellingham==1.5.4
six==1.17.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.5
SQLAlchemy==2.0.44
srsly==2.5.1
srt==3.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.50.0
streamlit==1.51.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.4.0
streamlit-webrtc==0.45.0
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado==0.18.1
tf_keras==2.20.1
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
torchvision==0.25.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==5.0.0
typer==0.19.2
typer-slim==0.21.1
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.40.0
vosk==0.3.45
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==16.0
Werkzeug==3.1.4
wheel==0.45.1
whisper==1.1.10
widgetsnbextension==4.0.14
wrapt==1.17.3
xlsxwriter==3.2.9
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
